	body {
		font-family: 'Helvetica';
		overflow:hidden;
		text-align:center;
		z-index:1;
		width:100%;
		height:100%;
		border:0;
		margin:0;	
		background:yellow;
	}
	h2 {
		padding: 10px;
		border: 10px;
	}
	#bgimg {
		position:fixed;
		left: 15%;
		width: 70%;
	}
	#bgimgMain {
		position:fixed;
		top:15%;
		left: 15%;
		width: 70%;
	}
	a {
		border:5px;
		text-decoration: none;
	}
	div {
		text-align: left;
	}
	#inp {
		color:hsla(350,80%,50%,1.0);
		padding-left:15px;
		padding-top:7px;
		padding-bottom:	7px;
		z-index:5;
		-webkit-border-radius:10px;
		-moz-border-radius:15px;
		display:none;
		position:fixed;
		background: hsla(120,70%,50%,0.6);
	}
	#cinp {
		color:hsla(200,100%,30%,1.0);
		z-index:5;
		padding-left:15px;
		padding-top:7px;
		padding-bottom:	7px;
		-webkit-border-radius:10px;
		-moz-border-radius:15px;
		background: hsla(290,70%,50%,0.6);	
		display:none;
		position:fixed;
	}
	#out {
		color:hsla(200,100%,100%,1.0);
		z-index:5;
		padding-left:15px;
		padding-top:10px;
		-webkit-border-radius:10px;
		-moz-border-radius:15px;
		position: fixed;
		display:none;
		background: hsla(40,70%,50%,0.67);
	}
	#outi {
		z-index:5;
		position: fixed;
		display: none;
		background:white;
	}
	#out2 {
		color:hsla(200,100%,100%,1.0);
		z-index:5;
		padding-left:15px;
		padding-top:10px;
		position: fixed;
		display:none;
		-webkit-border-radius:10px;
		-moz-border-radius:15px;
		background: hsla(100,70%,50%,0.67);
		white-space:nowrap;
		overflow-x:hide;
	}
	#out2a {
		z-index:5;
	}
	#out2i {
		z-index:5;
		position: fixed;
		display:none;
		background:white;
	}
	#out3 {
		color:hsla(200,100%,100%,1.0);
		z-index:5;
		padding-left:15px;
		padding-top:10px;
		position: fixed;
		display:none;
		-webkit-border-radius:10px;
		-moz-border-radius:15px;
		background: hsla(180,70%,50%,0.67);
		white-space:nowrap;
		overflow-x:hide;
	}
	#out3i {
		z-index:5;
		position: fixed;
		display: none;
		background:white;
		/* border: 3px solid white;
		background: white; */
	}	
	#out4 {
		color:hsla(200,100%,100%,1.0);
		z-index:5;
		padding-left:15px;
		padding-top:10px;
		position: fixed;
		display:none;
		-webkit-border-radius:10px;
		-moz-border-radius:15px;
		background: hsla(265,70%,50%,0.67);
		white-space:nowrap;
		overflow-x:hide;
	}
	#out4i {
		z-index:5;
		position: fixed;
		display: none;
		background:white;
	}
	#btn {
		z-index:5;
		-webkit-border-radius:10px;
		-moz-border-radius:15px;
		color:hsla(200,100%,0%,1.0);
		background:hsla(60,70%,50%,0.7);
		display:none;
	}
	#cbtn {
		z-index:5;
		-webkit-border-radius:10px;
		-moz-border-radius:15px;
		color:hsla(200,100%,0%,1.0);
		background:hsla(353,75%,50%,0.7);
		display:none;
	}
