<head><title>op.to - rewire your web</title></head>
<link href='http://op.to/styles/crazykolors.css' rel='stylesheet' type='text/css' />
<body>
<h2>Enter a link to optomize:</h2>
<img id=bgimgMain src='http://op.to/opto-basic-2.png' />
<input id=cinp type=text value='speak freely'></input>
<input id=cbtn type=submit value=customize></input>
<input id=inp type=text value=http://></input>
<input id=btn type=submit value=op.to></input>
<div id=out><a href=# id=outa>Getting Minified URI...</a></div>
<div id=outi><a href=# id=outia><img id=outii onerror='ImgError(this)' border='3px solid white'/></a></div>
<div id=out2><a href=# id=out2a>Getting Summarized URI...</a></div>
<div id=out2i><a href=# id=out2ia><img id=out2ii onerror='ImgError(this)' border='3px solid white'/></a></div>
<div id=out3><a href=# id=out3a>Getting Customized URI...</a></div>
<div id=out3i><a href=# id=out3ia><img id=out3ii onerror='ImgError(this)' border='3px solid white' /></a></div>
<div id=out4><a href=# id=out4a>Getting Content-Type URI...</a></div>
<div id=out4i><a href=# id=out4ia><img id=out4ii onerror='ImgError(this)' border='3px solid white' /></a></div>
<div id="fb-root"></div>
<script>
	var outa = document.getElementById('outa');
	var outia = document.getElementById('outia');
	var outi = document.getElementById('outi');
	var outii = document.getElementById('outii');
	var out2a = document.getElementById('out2a');
	var out2ia = document.getElementById('out2ia');
	var out2i = document.getElementById('out2i');
	var out2ii = document.getElementById('out2ii');
	var out3a = document.getElementById('out3a');
	var out3ia = document.getElementById('out3ia');
	var out3i = document.getElementById('out3i');
	var out3ii = document.getElementById('out3ii');
	var out4a = document.getElementById('out4a');
	var out4ia = document.getElementById('out4ia');
	var out4i = document.getElementById('out4i');
	var out4ii = document.getElementById('out4ii');
	
	if(typeof(String.prototype.trim) === "undefined")
	{
	    String.prototype.trim = function() 
	    {
		return String(this).replace(/^\s+|\s+$/g, '');
	    };
	}
	String.prototype.rjust = function( width, padding ) {
		padding = padding || " ";
		padding = padding.substr( 0, 1 );
		if( this.length < width )
			return padding.repeat( width - this.length ) + this;
		else
			return this;
	};
	String.prototype.repeat = function( num ) {
		for( var i = 0, buf = ""; i < num; i++ ) buf += this;
			return buf;
	};
	String.prototype.hostname = function () {
    		return this.match(/:\/\/(.[^/]+)/)[1];
	};
	function ImgError(source){
		source.src = "/favicon.ico";
		//source.onerror = "";
		return true;
	};
	var baseuri = "";
 	var uinprogress = 0;
 	var cinprogress = 0;
 	var sinprogress = 0;
	var irsz = function () {
		var w = window.innerWidth;
		var h = window.innerHeight;
		var fs = Math.round(h*0.037);
		inp.style.top = h*1/5-fs;
		inp.style.fontSize = fs+"px";
		inp.style.width = "60%";
		inp.style.left = ((w-w*0.6)/2);
	};
	var crsz = function () {
		var w = window.innerWidth;
		var h = window.innerHeight;
		var fs = Math.round(h*0.037);
		cinp.style.top = h*1/5-(2.4*fs)-15;
		cinp.style.fontSize = fs+"px";
		cinp.style.width = "60%";
		cinp.style.left = ((w-w*0.6)/2);
		cbtn.style.position = "fixed";
		cbtn.style.height = "8%";
		cbtn.style.width = "13%";
		var md = h < w ? h : w;
		cbtn.style.fontSize = Math.round(md*0.04)+"px";
		cbtn.style.top = h*1/5-(2.3*fs);
		cbtn.style.left = Math.round((w-w*0.6)/2+w*0.6);
	};
	var brsz = function () {
		var w = window.innerWidth;
		var h = window.innerHeight;
		btn.style.position = "fixed";
		btn.style.height = "8%";
		btn.style.width = "13%";
		var md = h < w ? h : w;
		btn.style.fontSize = Math.round(md*0.04)+"px";
		btn.style.top = Math.round((h-h*0.08)*1/6+h*0.13);
		btn.style.left = Math.round((w-w*0.13)/2);
	};
	var rsz = function (val) {
		irsz();
		brsz();
		orsz(val);
		o2rsz(val);
		o3rsz(val);
		o4rsz(val);		
		crsz(val);
	};
	window.onload = function () {
		rsz(1);
		inp.style.display = "inline";
		btn.style.display = "inline";
	};
	window.onresize = function() {
		rsz(1);
	}
	var o4rsz = function(val){
		var w = window.innerWidth;
		var h = window.innerHeight;
		out4.style.width = w*0.8;
		out4.style.height = h*0.09;
		out4.style.top = h*0.5+(h*2*0.09)+30;
		out4i.style.top = h*0.5+(h*2*0.09)+30 + 11;
		out4.md = h < w ? h : w;
		out4.style.left = (w-(w*0.6))/2;
		out4i.style.left = (w-(w*0.6))/2 - 70;
		out4i.width = 50;
		out4i.height = 50;
		if (!val) {
			out4a.textContent = "Getting Content-Type URI..."
			out4a.href = "#";
			out4ii.src = "/favicon.ico";
	        	out4.fs = Math.min(0.03*out4.md,Math.ceil(0.06*10/Math.log(out4a.textContent.length)*out4.md));
			out4.style.font = out4.fs + "px italic Verdana, sans-serif";
			out4.style.display = "inline";
			out4i.style.display = "inline";
		}
		else {
			out4.fs = Math.min(0.03*out4.md,Math.ceil(0.06*27/Math.log(out4a.textContent.length)*out4.md));
			out4.style.font = out4.fs + "px italic Verdana, sans-serif";
		}
	}; 
	var o3rsz = function(val){
		var w = window.innerWidth;
		var h = window.innerHeight;
		out3.style.width = w*0.8;
		out3.style.height = h*0.09;
		out3.style.top = h*0.4-15;
		out3i.style.top = h*0.4 -4;
		out3.md = h < w ? h : w;
		out3.style.left = (w-(w*0.6))/2;
		out3i.style.left = (w-(w*0.6))/2 - 70;
		out3i.width = 50;
		out3i.height = 50;
		if (!val) {
			out3a.textContent = "Getting Customized URI..."
			//out3a.textContent = "";
			out3a.href = "#";
			out3ii.src = "/favicon.ico";
	        	out3.fs = Math.min(0.03*out3.md,Math.ceil(0.06*10/Math.log(out3a.textContent.length)*out3.md));
			out3.style.font = out3.fs + "px italic Verdana, sans-serif";
			out3.style.display = "inline";
			out3i.style.display = "inline";
		}
		else {
			out3.fs = Math.min(0.03*out3.md,Math.ceil(0.06*27/Math.log(out3a.textContent.length)*out3.md));
			out3.style.font = out3.fs + "px italic Verdana, sans-serif";
		}
	}; 
	var o2rsz = function(val){
		var w = window.innerWidth;
		var h = window.innerHeight;
		out2.style.width = w*0.8;
		out2.style.height = h*0.09;
		out2.style.top = h*0.5+(h*0.09)+15;
		out2i.style.top = h*0.5+(h*0.09) + 26;
		out2.md = h < w ? h : w;
		out2.style.left = (w-(w*0.6))/2;
		out2i.style.left = (w-(w*0.6))/2 - 70;
		out2i.width = 50;
		out2i.height = 50;
		if (!val) {
			out2a.textContent = "Getting Summarized URI...";
			out2a.href = "#";
			out2ii.src = "/favicon.ico";
	        	out2.fs = Math.min(0.03*out2.md,Math.ceil(0.06*10/Math.log(out2a.textContent.length)*out2.md));
			out2.style.font = out2.fs + "px italic Verdana, sans-serif";
			out2.style.display = "inline";
			out2i.style.display = "inline";
		}
		else {
			out2.fs = Math.min(0.03*out2.md, Math.ceil(0.06*27/Math.log(out2a.textContent.length)*out2.md));
			out2.style.font = out2.fs + "px italic Verdana, sans-serif";
		}
	}; 
	var orsz = function(val){
		var w = window.innerWidth;
		var h = window.innerHeight;
		out.style.width = w*0.8;
		out.style.height = h*0.09;
		out.style.top = h*0.5;
		outi.style.top = h*0.5 + 11;
		out.md = h < w ? h : w;
		out.style.left = (w-(w*0.6))/2;
		outi.style.left = (w-(w*0.6))/2 - 70;
		outi.width = 50;
		outi.height = 50;
		if (!val) {
			outa.textContent = "Getting Minified URI...";
			outa.href = "#";
			outii.src = "/favicon.ico";
	        	out.fs = Math.min(0.03*out.md, Math.ceil(0.06*10/Math.log(outa.textContent.length)*out.md));
			out.style.font = out.fs + "px italic Verdana, sans-serif";
			out.style.display = "inline";
			outi.style.display = "inline";
		}
		else {
			out.fs = Math.min(0.03*out.md, Math.ceil(0.06*27/Math.log(outa.textContent.length)*out.md));
			out.style.font = out.fs + "px italic Verdana, sans-serif";
		}
	}; 
	inp.onkeydown = function (e) {
		if(e.keyCode == 13)
			btn.click();
	};
	cinp.onkeydown = function (e) {
		if(e.keyCode == 13)
			cbtn.click();
	};
	var getShort = function(uri) {
		orsz();
		var xhr = new XMLHttpRequest( );
                xhr.onreadystatechange = function () {
             		if(xhr.readyState == 4 && xhr.status == 200) { 
				var xhr_text = "op.to/"+xhr.responseText;
				var adr = 'http://'+xhr_text;
				outa.href = adr;
				outa.textContent = xhr_text;
				outia.href = adr;
				outii.src="http://"+uri.hostname()+"/favicon.ico";
				orsz(1);
			}
			sinprogress = 0; // set a timer incase no response
		};
 		xhr.open("POST","/s/"+uri,true);
		xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
		sinprogress = 1;                
		xhr.send('uri='+encodeURIComponent(uri));

	};
	var getSummary = function(uri) {
		o2rsz();
		var xhr = new XMLHttpRequest( );
                xhr.onreadystatechange = function () {
             		if(xhr.readyState == 4 && xhr.status == 200) { 
				if (xhr.responseText == "///bad_uri") {
					out2a.href = "#";
					out2ii.src="/favicon.ico";
				}
				else {
					var xhr_text = "op.to/"+xhr.responseText;
					var adr = 'http://'+xhr_text;
					out2a.href = adr;
					out2a.textContent = xhr_text;
					out2ia.href = adr;
					out2ii.src="http://"+uri.hostname()+"/favicon.ico";
				}
				o2rsz(1);
			}
			uinprogress = 0; // set a timer incase no response
                };
 		xhr.open("POST","/u/"+uri,true);
		xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
		uinprogress = 1;                
		xhr.send('uri='+encodeURIComponent(uri));
	};
	var getCustom = function(uri,curi) {
		o3rsz();
		var xhr = new XMLHttpRequest( );
                xhr.onreadystatechange = function () {
             		if(xhr.readyState == 4 && xhr.status == 200) { 
				if(xhr.responseText == '///enter_some_data') {
					out3a.href = "#";
					out3ii.src = "/favicon.ico";
				}
				else {
					var xhr_text = "op.to/"+(xhr.responseText);
					var adr = 'http://'+xhr_text;
					out3a.href = adr;
					out3a.textContent = xhr_text;
					out3ia.href = adr;
					out3ii.src="http://"+uri.hostname()+"/favicon.ico";
				}
				o3rsz(1);
			}
			cinprogress = 0; // set a timer incase no response
                };
 		xhr.open("POST","/c/"+uri+","+curi,true);
		xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
		cinprogress = 1;                
		xhr.send('uri='+encodeURIComponent(uri)+'&curi='+encodeURIComponent(curi));
	};
	var getType = function(uri) {
		o4rsz();
		var xhr = new XMLHttpRequest( );
                xhr.onreadystatechange = function () {
	  		if(xhr.readyState == 4 && xhr.status == 200) { 
				if (xhr.responseText == "///bad_uri") {
					out4a.href = "#";
					out4ii.src="/favicon.ico";
				}
				else {
					var xhr_text = "op.to/"+xhr.responseText;
					var adr = 'http://'+xhr_text;
					out4a.href = adr;
					out4a.textContent = xhr_text;
					out4ia.href = adr;
					out4ii.src="http://"+uri.hostname()+"/favicon.ico";
				}
				o4rsz(1);
			}
                };
 		xhr.open("POST","/t/"+uri,true);
		xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
		xhr.send('uri='+encodeURIComponent(uri));
	};
	btn.onclick = function () {
		if(sinprogress == 1 || uinprogress == 1)
			return;
		crsz();
		baseuri = "";
		cbtn.style.display = "inline";
		cinp.style.display = "inline";
		out.style.display = "inline";
		out2.style.display = "inline";
		out4.style.display = "inline";
		out3i.style.display = "none";
		out3.style.display = "none";
		cinp.value = "speak freely";
		var rawuri = inp.value.trim();
		if(rawuri.indexOf('http')!=0) {
			rawuri = 'http://'+rawuri;
		}
		if(rawuri.indexOf('twitter')!=0) {
			rawuri = rawuri.replace('#!/','');
		}	
		else if (rawuri.length <= 10) {
			alert("Wouldn't you like to share an address?");
			inp.focus();			
			return;		
		}
		baseuri = rawuri;
		getShort(rawuri);
		getSummary(rawuri);
		getType(rawuri);	
	};
	cbtn.onclick = function () {
		out3.style.display = "inline";
		var rawuri = inp.value.trim();
		if(rawuri.length == 0) {
			rawuri = baseuri;
			inp.value = rawuri;
                }
		if(rawuri.length == 0) {
			alert("You want me to customize what?");
			inp.value = "http://";
			inp.focus();
                }
		if(rawuri.indexOf('http')!=0) {
			rawuri = 'http://'+rawuri;
		}

		var curi = cinp.value.trim();
		if (curi.length == 0) {
			alert("How am I going to remember that?");
			cinp.focus();		
		}
		else {
			getCustom(rawuri,curi);
		}	
	};
</script>
<!--
<script src="http://connect.facebook.net/en_US/all.js"></script>
<script>
FB.init({
appId: '329825373735819', 
status : true, // check login status
cookie : true, // enable cookies to allow the server to access the session
});
</script>--!>
</body>
