<head><title>op.to - rewire your web</title></head>
<link href='/styles/crazykolors.css' rel='stylesheet' type='text/css' />
<body>
<h2>Redirecting you now . . . Have you considered using <a href='http://op.to/'>op.to</a> for making your links? It's free, fast, and makes informative links that auto detect files and titles. </h2>
<img id=bgimg src='opto-basic-2.png' />
<script>

